/* Icons
-------------------------------------------------- */
.icon-google {
  background-image: url(/Content/images/icon-google.png) !important;
  background-position: 0 0;
}
.icon-twitter {
  background-image: url(/Content/images/icon-twitter.png) !important;
  background-position: 0 0;
}
.icon-facebook {
  background-image: url(/Content/images/icon-facebook.png) !important;
  background-position: 0 0;
}
.icon-microsoft {
  background-image: url(/Content/images/icon-microsoft.png) !important;
  background-position: 0 0;
}